body {
  font-family: Arial, sans-serif;
}

/* Titles */
.section-title {
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Small images */
.thumb-sm {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 6px;
}

/* News images */
.thumb-md {
  width: 100px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
}

/* World news */
.world-card {
  width: 80%;
  margin-left: 15px;
}

/* Footer */
footer {
  font-size: 14px;
}

/* Culture Image (NEWS) */
.article-image img {
  width: 100%;
  height: 650px;
  object-fit: cover;
}